.c-scorecolumn {
    display: table;
}

.c-scorecolumn__header {
    display: table-row;
}

.c-scorecolumn__header > * {
    display: table-cell;
    border-bottom: 1px solid;
    text-align: center;
}

.c-scorerow,
.c-bonusrow {
    display: table-row;
}

.c-scorerow > *,
.c-bonusrow > * {
    display: table-cell;
    width: 7em;
    padding: .15em;
}

.c-scorerow > :first-child,
.c-bonusrow > :first-child {
    border-right: 1px solid;
}

.c-bonusrow--first > * {
    border-top: 1px solid lightgray;
}

.c-bonusrow__label {
    display: inline-block;
    text-overflow: clip;
    white-space: nowrap;
    font-size: .8em;
    margin-left: 5px;
}