.c-radio-group {
    &--horizontal {
        display: flex;
        width: 100%;
        align-items: center;

        .c-radio-group__label {
            display: block;
            padding-right: 1em;
        }
    }

    &--hide-native {
        .c-radio {
            padding: 8px;
            border: 1px solid transparent;
            border-radius: 3px;

            // Don't show native tap highlight
            -webkit-tap-highlight-color: transparent;

            &--has-focus {
                border-color: var(--focus-border-color, darkblue);
            }

            &--checked {
                background-color: var(--selection-color, lightblue);
            }
        }
    }
}