$title-height: 40px;

$transition-duration: 0.125s;
$min-drawer-top: 55px;
$backdrop-opacity: 1;

.c-drawer__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--accent1-color);
    opacity: 0;
    visibility: hidden;

    transition: opacity $transition-duration ease-out;

    &-enter,
    &-exit,
    &-enter-done {
        visibility: visible;
    }

    &-enter-active,
    &-enter-done {
        opacity: $backdrop-opacity;
    }
}

.c-drawer-title-placeholder {
    height: $title-height;
}

.c-drawer {
    transition: transform $transition-duration ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100vh);
    height: 90vh;
    overflow-y: auto;
    background: white;

    // Show the title bar when one exists
    &--has-title {
        transform: translateY(
            calc(100vh - #{$title-height} - env(safe-area-inset-bottom))
        );
    }

    @media (max-height: #{$min-drawer-top * 10}) {
        height: calc(100vh - #{$min-drawer-top});
    }

    &__title {
        height: calc(#{$title-height} + env(safe-area-inset-bottom));
        background-color: var(--primary-interaction-color);
        color: white;
        width: 100vw;
        white-space: nowrap;
        text-overflow: clip;
        border: none;
        margin-bottom: 10px;
        text-align: left;
        padding: 0;
        padding-bottom: env(safe-area-inset-bottom);
        font-size: 18px;
        user-select: none;

        transition: color $transition-duration ease-out,
            background-color $transition-duration ease-out;

        &__text {
            display: inline-block;
            transform: translateX(calc(50vw - 50%));
            transition: transform $transition-duration ease-out;
        }

        &:focus {
            outline: none;
        }
    }

    &-enter-active,
    &-enter-done,
    &--has-title.c-drawer-enter-done,
    &--has-title.c-drawer-enter-active {
        transform: translateY(10vh);

        @media (max-height: #{10 * $min-drawer-top}) {
            transform: translateY($min-drawer-top);
        }

        .c-drawer__title {
            height: $title-height;
            padding-bottom: 0;
            background-color: white;
            color: black;

            &__text {
                transform: translateX(10px);
            }
        }
    }

    // Make sure active drawers supersede inactive drawers which happen to have titles.
    &-enter-active,
    &-enter-done,
    &-exit-active {
        z-index: 10;
    }
}
