$transition-duration: 0.125s;
$min-drawer-top: 55px;
$backdrop-opacity: 1;

.c-drawer__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--accent1-color);
    opacity: 0;
    visibility: hidden;

    transition: opacity $transition-duration ease-out;

    &-enter,
    &-exit,
    &-enter-done {
        visibility: visible;
    }

    &-enter-active,
    &-enter-done {
        opacity: $backdrop-opacity;
    }
}

.c-drawer {
    transition: transform $transition-duration ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100vh);
    height: calc(90vh);
    overflow-y: auto;
    background: var(--background-color);

    @media (max-height: #{$min-drawer-top * 10}) {
        height: calc(100vh - #{$min-drawer-top});
    }

    &-enter-active,
    &-enter-done {
        transform: translateY(10vh);

        @media (max-height: #{10 * $min-drawer-top}) {
            transform: translateY($min-drawer-top);
        }
    }

    &-enter-active,
    &-enter-done,
    &-exit-active {
        z-index: 10;
    }
}
