.l-playing {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto minmax(0, 1fr);
    overflow: hidden;
    position: fixed;
}

.l-playing__column-item {
    padding-left: calc(12px + env(safe-area-inset-left));
    padding-right: calc(12px + env(safe-area-inset-right));
}
