.c-game-input {
    &__players {
        display: flex;

        .c-radio {
            padding: 10px;

            &--checked {
                background-color: lightblue;
            }
        }
    }

    &__gin {
        display: flex;
    }
}
