.c-game-input__players,
.c-game-input__gin {
    display: flex;
}

.c-game-input__players .c-radio {
    padding: 10px;
}

.c-game-input__players .c-radio--checked {
    background-color: lightblue;
}