.c-match-viewer {
    height: 100%;
    max-width: 100vw;

    display: grid;
    grid-template-rows: [sets-start] minmax(0, 1fr) [sets-end input-start] auto [input-end];
    grid-template-columns: [sets-start input-start] 100% [sets-end input-end];

    &__main {
        display: flex;
    }

    &__sets {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        grid-area: sets;
    }

    .c-score-column {
        flex-shrink: 0;
    }

    &__add-game {
        grid-area: input;
        padding: 20px;
    }

    .c-set-view {
        margin: 15px 10px;
    }
}

@media (max-width: 900px) {
    .c-match-viewer {
        &__sets {
            min-width: 900px;
        }
    }
}

@media (min-width: 1000px) {
    .c-match-viewer {
        grid-template-columns: [sets-start] 1fr [sets-end input-start] auto [input-end];
        grid-template-rows: [sets-start input-start] auto [sets-end input-end];
    }
}

.c-drawer .c-gameform {
    // XXX should match title offset for drawer
    margin-left: 10px;
}
