.c-match-viewer {
    height: 100%;

    &__sets {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    .c-match-viewer {
        display: grid;
        grid-template-columns: [sets-start] 1fr [sets-end input-start] auto [input-end];
        grid-template-rows: [sets-start input-start] 100% [sets-end input-end];
    }

    .c-match-viewer__sets {
        grid-area: sets;
    }

    .c-gameform {
        grid-area: input;
        padding: 20px;
    }
}
